body{
	background-color: #fefefe;
}

#wrapper
{
	margin: 50px auto;
	width: 673px;
}
#container
{
	background: #fff;
	border-bottom: 1px solid #ccc;
	border-right: 1px solid #ccc;
	height: 235px;
	padding: 32px;
	position: relative;
}
.sliderbutton
{
	cursor: pointer;
	float: left;
	height: 235px;
	width: 25px;
}
#slideleft
{
	background: url(images/icons.gif) -50px -265px no-repeat;
}
#slideleft:hover
{
	background-position: -0 -265px;
}
#slideright
{
	background: url(images/icons.gif) 0 90px no-repeat;
}
#slideright:hover
{
	background-position: -50px 90px;
}
#slider
{
	float: left;
	height: 235px;
	overflow: auto;
	position: relative;
	width: 558px;
}
#slider ul
{
	left: 0;
	list-style: none;
	position: absolute;
	top: 0;
}
#slider li
{
	float: left;
	height: 235px;
	width: 558px;
}
.pagination
{
	height: 25px;
	list-style: none;
	position: absolute;
	right: 61px;
	top: 40px;
}
.pagination li
{
	background: #ccc;
	border: 1px solid #fff;
	cursor: pointer;
	float: left;
	height: 8px;
	margin: 0 4px 0 0;
	width: 8px;
}
.pagination li:hover, li.current
{
	background: #fff;
}






.clearfix:after {
	content:'';
	display: table;
	width: 100%;
	clear: both;
}
.container{
	margin-right: 200px;
	margin-left: 200px;
}
h1{
	color: #ffffff;
	font-family: Pacifico;
	font-size: 40px;
	font-weight: 400;
	line-height: 18px;
}
.heading .logo{
	margin-top: 41px;
	float: left;
}

header {
	background: url(../img/first-bg.jpg) no-repeat center top / cover;
	width: 100%;
	height: 600px;
}
.heading nav {
	margin-top: 41px;
	float: right;
}
.menu {
	padding: 0;
	margin: 0;
	display: block;
}
.menu li {
	float: left;
	display: block;
	margin-left: 20px;
}
/*Menu*/
.main nav {
	margin-top:30px;
	float: left;
}
.menu_1 {
	padding: 0;
	margin: 0;
	display: block;
}
.menu_1 li{
	float: left;
	display: block;
	margin-right: 40px;
}
.menu_1 li a{
    font-family: "Novecentowide - Demi Bold";
	color: #ffffff;
	font-size: 18px;
	text-decoration: none;
	font-weight: 400;
	line-height: 18px;
}
.menu_1 li a:hover{
    color:#87b672;
}
.fa-search{
    color: white;
    margin-left: 137px;
    margin-top: 28px;
    opacity: 0.75;
    font-size: 18px;
}
.fa-search:hover{
	 color:#87b672;
}
.border{
    text-align: center;
    margin-top: 25px;
}
.border button {
	color: #ffffff;
	font-family: "Novecentowide - Demi Bold";
	font-size: 14px;
	font-weight: 400;
	line-height: 18px;
	text-transform: uppercase;
	background: rgba(0,0,0,0);
	border: 2px solid #ffffff;
	padding: 15px 20px 13px 21px;
}
.border button:hover{
/*	border-color: #346392;*/
    color:#87b672;
    cursor: pointer;
   /* box-shadow: inset 0 0 0 3px #346392;*/
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
}
.titles_first{
	color: #ffffff;
	font-family: "Novecentowide - Demi Bold";
	font-weight: 400;
	font-size: 36px;
	line-height: 24px;
	text-transform: uppercase;
	text-align: center;
	margin-top: 150px;
}
span{
	color: #87b672;
}
h2{
	color: #ffffff;
	font-family: "Helvetica Neue";
	font-size: 22px;
	font-weight: 400;
	line-height: 18px;
	/*text-transform: uppercase;*/
	text-align: center;
	margin-top: 30px;
}
h3{
color: #666262;
font-family: "Novecentowide - Demi Bold";
font-size: 22px;
font-weight: 400;
line-height: 24px;
text-align: center;
margin-bottom: 25px;
padding-top: 60px;
}
p{
color: #9b9999;
font-family: "Helvetica Neue";
font-size: 16px;
font-weight: 400;
line-height: 24px;
/*text-transform: uppercase;*/
text-align: center;
}
.title{
	margin-bottom: 55px;
}
.services {
	margin-top: 60px;
}
.services__item	{
	width: 270px;
	float: left;
	text-align: center;
}
h4{
color: #666262;
font-family: "Novecentowide - Demi Bold";
font-size: 18px;
font-weight: 400;
line-height: 22px;
margin-top: 30px;
margin-bottom: 25px;
}
 a {
color: #87b672;
font-family: "Helvetica Neue";
font-size: 16px;
font-weight: 400;
line-height: 24px;
text-decoration: none;
}
.services__item p{
	margin-bottom: 25px;
}
.services__item:last-child {
	float: right;
}
.services__item:nth-child(2) {
	margin-left: 60px;
	margin-top: 15px;
}
#services{
padding-bottom: 60px;
}
#work{
	background-color: #efefef;
	padding-bottom: 60px;
}
.works_item{
  width: 270px;
	float: left;
	text-align: center;
}
/*.works_item:last-child {
	float: right;
}*/
.works_item:last-child {
	float: right;
}
.works_item:nth-child(2) {
	margin-left: 60px;
}
.works_item h4{
    margin-top: 20px;
    margin-bottom: 60px;
}
#work .button {
	background-color: #87b672;
	color: #ffffff;
	border-radius: 3px;
	display: block;
	width: 117px;
    padding: 15px 20px 13px 21px;
	margin: 0 auto;
	text-align: center;
	text-transform: uppercase;
	font-family: "Novecentowide - Demi Bold";
	font-weight: 400;
	line-height: 18px;
	font-size: 14px;
	margin-top: -30px;
}
footer{
	background-color: #333333;
}
.footer_1{
   padding-top: 60px;
}
.heading .fa-twitter{
	 background-color: rgb(225,217,206,0.9); 
}
.heading .fa-facebook,.fa-rss{
	background-color: rgb(225,217,206,0.9); 
}
.heading .fa-rss{
	background-color: rgb(225,217,206,0.9); 
}
.fa-twitter,.fa-facebook,.fa-rss{
    background-color: #cbcbcb; 
    color:#666262;
    padding: 8px; 
    display: block;
    border-radius: 100%;
    font-size: 20px;
}
.fa-facebook{
	 padding: 8px 13px;
}
.fa-rss{
	padding: 8px 10px;
}
.fa-twitter:hover,.fa-facebook:hover,.fa-rss:hover{
	background-color: #fefefe;
	cursor: pointer;
}
.logo{
	float: left;
}
.footer_1 nav {
	float: right;
}
.footer{

}
.footer_1{
	width: 170px;
	float: left;
}
.footer_1:first-child{
	width: 380px;
    margin-right: 40px;
}
.footer_1:nth-child(2) {
	margin-right: 10px;
}
.footer_1:nth-child(3) {
	width: 110px; 
}
.footer_1:nth-child(4) {
	width: 220px;
	float: right;
}
.lorem{
	color: #9b9999;
	font-family: "Helvetica Neue";
	font-size: 14px;
	font-weight: 400;
	line-height: 24px;
	text-align: left;
	margin-top: 30px;
}
.lorem_1{
	color: #9b9999;
	font-family: "Helvetica Neue";
	font-size: 14px;
	font-weight: 400;
	line-height: 24px;
	text-align: left;
	margin-top: 20px;
	margin-bottom: 20px;
}
.contact_1{
	color: #fefefe;
	font-family: "Novecentowide - Demi Bold";
	font-size: 18px;
	font-weight: 400;
	line-height: 24px;
	text-align: left;
	margin-bottom: 30px;
}
.number{
	color: #fefefe;
	font-family: "Novecentowide - Demi Bold";
	font-size: 16px;
	font-weight: 400;
	line-height: 24px;
	text-align: left;
	padding-bottom: 55px;
}
.fa-chevron-right{
	font-size: 12px;
	color:#fefefe;
	padding-right: 10px;
}
.links{
	/*padding-right: 30px;*/
}
.lorem_2{
	color: #9b9999;
	font-family: "Helvetica Neue";
	font-size: 14px;
	font-weight: 400;
	line-height: 24px;
	text-align: left;
	margin-bottom: 3px;
}
.email{
	background-color: #4e4c4c;
	border: 1px solid #4e4c4c;
	width: 160px;
	height: 40px;
	margin-top: 28px;
}
::-webkit-input-placeholder {
	color: #fefefe;
	font-family: "Helvetica Neue";
	font-size: 14px;
	font-weight: 400;
	line-height: 24px;
	padding-left: 16px;
}
#footer .button{
	background-color: #828282;
	color: #fefefe;
    padding: 14px 17px 15px 15px;
	text-align: center;
	text-transform: uppercase;
	font-family: "Novecentowide - Demi Bold";
	font-weight: 400;
	font-size: 14px;
	line-height: 24px;
}
#footer .button:hover{
   color:#87b672;
}
.copyright{

}
.footer_about{

}
.copyright{
    width: 400px;
	float: left;
}
.copyright:last-child {
	float: right;
}
#footer .copyright p{
	text-align: right;
	color: #808080;
	font-family: "Novecentowide - Demi Bold";
	font-size: 12px;
	font-weight: 400;
	line-height: 18px;
	text-transform: uppercase;
	margin-top: 31px;
	padding-bottom: 29px;
}
#footer .copyright i{
	color: #cbcbcb;
}
#footer .copyright .reserved  {
	text-align: left;
}